@use "../../resources.scss" as *;

.notifications {
  right: 0;
  width: 300px;
  height: 400px;
  bottom: calc(100% + 8px);
  padding: 8px 12px;
  position: absolute;
  border-radius: $borderRadius;

  @include glassBg($popoverBg);
}