@use "../../resources.scss" as *;

.notifications {
  right: 0;
  width: 300px;
  height: 400px;
  bottom: calc(100% + 8px);
  padding: 8px 16px;
  position: absolute;
  background: $popoverBg;
  border-radius: $borderRadius;
}