@use "../resources.scss" as *;

.drawerWrapper {
  inset: 0;
  z-index: 2;
  display: flex;
  position: fixed;
  justify-content: flex-end;

  .overlay {
    inset: 0;
    position: absolute;
    background: rgba(26, 39, 54, 0.7);
    backdrop-filter: blur(4px);
  }

  & > aside {
    width: 100%;
    height: 100%;
    padding: 12px 16px;
    position: relative;
    max-width: 500px;
    transition: $transitionBase;
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;

    & > header {
      border-bottom: 1px dashed $globalBorder;

      ul {
        gap: 2rem;
        display: flex;
        flex-direction: column;

        li:last-child {
          margin-bottom: 16px;
        }
      }
    }

    @include glassBg;
  }
}