@use "../resources.scss" as *;

.kanbanColumn {
  gap: 1rem;
  display: flex;
  min-width: 300px;
  border-radius: $borderRadius;
  flex-direction: column;

  & > header {
    border: 1px solid $globalBorder;
    padding: 0.25rem;
    border-radius: $borderRadius;

    h3 {
      text-align: center;
      text-transform: uppercase;
    }
  }

  & > main {
    gap: 1rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .kanbanCard {
      cursor: grab;
      padding: 12px 16px;
      background: $accent;
      transition: $transitionBase;
      border-radius: $borderRadius;

      & > header {
        display: flex;
        align-items: flex-start;
        margin-bottom: 16px;
        justify-content: space-between;

        // h4 {}

        & > span {
          border-bottom: 1px solid $globalBorder;
        }
      }

      & > main {
        article {
          display: flex;
          margin-top: 8px;
          flex-direction: column;

          &.label {
            opacity: 0.6;
            font-size: 0.7rem;
            text-transform: uppercase;
          }

          &.value {
            font-size: 0.85rem;
            font-weight: 500;
          }
        }
      }

      &.is-dragging {
        opacity: 0.5;
        transform: scale(0.95);
      }

      & > * {
        pointer-events: none;
      }

      &.drop-target {
        border: 2px solid $globalBorder;
        transform: translateY(4px);

        &::before {
          content: '';

          top: -12px;
          left: 0;
          right: 0;
          height: 4px;
          position: absolute;
          background: $accent;
          border-radius: $borderRadius;
        }
      }
    }

    .filler {
      flex-grow: 1;
      min-height: 50px;

      &.drop-target {
        border: 2px dashed $globalBorder;
        background: color-mix(in srgb, $accent, transparent 80%);
        border-radius: $borderRadius;
      }
    }
  }

  &.is-over {
    background: color-mix(in srgb, $accent, transparent 95%);
  }
}