@use "../resources.scss" as *;

.loaderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.overlay {
    inset: 0;
    z-index: 999;
    position: absolute;
    background: color-mix(in srgb $globalOverlay 20% transparent);
    backdrop-filter: blur(2px);
  }

  &.center {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
  }

  &.filled {
    background: $globalOverlay;
  }
}