@use "../resources" as *;

.loaderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: center;

  .overlay {
    inset: 0;
    z-index: 999;
    position: absolute;
    background: color-mix(in srgb $globalOverlay 20% transparent);
    backdrop-filter: blur(2px);
  }
}