@use "../resources" as *;

.tableWrapper {
  overflow: auto;
  position: relative;
  min-height: 0;
  max-height: 100%;
  border-radius: $borderRadius;

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;

    thead {
      top: 0;
      z-index: 1;
      position: sticky;

      th {
        padding: 16px;
        text-align: left;
        font-weight: bold;
        white-space: nowrap;
        border-bottom: 1px solid color-mix(in srgb, $globalBorder 10%, transparent);

        h4 {
          width: fit-content;
          cursor: pointer;

          &:hover {
            color: $accent;
          }
        }
      }

      @include glassBg;
    }

    tbody {
      transition: $transitionBase;
      will-change: filter, opacity;

      tr {
        transition: background-color 0.3s ease;

        td {
          padding: 14px 16px;
          white-space: nowrap;
          border-bottom: 1px solid color-mix(in srgb, $globalBorder 5%, transparent);
        }

        &:hover {
          background-color: color-mix(in srgb, white 5%, transparent);
        }

        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }

      &.pending {
        filter: blur(2px) grayscale(0.5);
        opacity: 0.6;
        transform: scale(0.995);
        pointer-events: none;
      }
    }
  }

  @include glassBg;
  @include scrollbar;
}