@use "../resources.scss" as *;

.toolbarWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  section {
    height: 100%;
    padding: 12px 16px;
    border-radius: $borderRadius;

    header {
      margin-bottom: 4px;

      h4 {
        text-align: center;
      }
    }

    main {
      gap: 16px;
      display: flex;
      margin: auto;
      flex-direction: row;
    }

    &:first-child {
      min-width: 136px;
    }

    &:nth-child(3) {
      min-width: 75px;
    }

    &:nth-child(4) {
      min-width: 315px;

      main {
        justify-content: center;
      }
    }

    @include glassBg;
  }
}