@use "../resources.scss" as *;

.toolbarWrapper {
  height: 100%;
  display: flex;
  max-height: 95px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  section {
    height: 100%;
    display: flex;
    padding: 12px 16px;
    border-radius: $borderRadius;
    flex-direction: column;

    header {
      margin-bottom: 4px;

      h4 {
        text-align: center;
      }
    }

    main {
      gap: 16px;
      height: 100%;
      display: flex;
      margin: auto;
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }

    &:first-child {
      min-width: 136px;
    }

    &:nth-child(3) {
      min-width: 75px;
    }

    &:nth-child(4) {
      min-width: 315px;
    }

    @include glassBg;
  }
}