@use "../../resources.scss" as *;

.actions {
  right: 24px;
  bottom: 24px;
  position: fixed;
  border-radius: $borderRadius;

  ul {
    gap: 16px;
    padding: 8px;
    display: flex;
    position: relative;
    align-items: center;

    li {
      display: inline-flex;
    }
  }

  @include glassBg;
}