@use "../../resources.scss" as *;

.layoutHeader {
  padding: 8px 16px;
  border-bottom: 1px solid black;

  nav {
    ul {
      gap: 8px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li {
        display: inline-flex;
      }
    }
  }
}