@use "../../resources.scss" as *;

.sidebar {
  ul {
    li {
      border: 1px solid transparent;

      a {
        gap: 1rem;
        display: flex;
        padding: 1rem;
        align-items: center;
      }

      &:hover {
        color: $accent;

        @include glassBg;
      }
    }
  }
}