@use "../../resources.scss" as *;

.sidebar {
  gap: 32px;
  padding: 8px;
  display: flex;
  flex-direction: column;

  // header {}

  main {
    ul {
      gap: 8px;
      display: flex;
      flex-direction: column;

      li {
        border: 1px solid transparent;
        transition: all $transitionBase;
        border-radius: $borderRadius;

        a {
          gap: 1rem;
          display: flex;
          padding: 1rem;
          align-items: center;
        }

        &:hover {
          @include accentGlass;
        }
      }
    }
  }
}