@use "../../resources.scss" as *;

.sidebar {
  color: $accent;

  ul {
    li {
      a {
        gap: 1rem;
        display: flex;
        padding: 1rem;
        align-items: center;
      }
    }
  }
}