@use "core/root.scss";
@use "core/reset.scss";
@use "core/defaults.scss";
@use "core/transitions.scss";

  // Layouts
@use "layouts/default.scss";
@use "layouts/centered.scss";

  // Components
    // Base
@use "components/base/input.scss";
@use "components/base/select.scss";
@use "components/base/button.scss";

    // Layout
@use "components/dock.scss";
@use "components/table.scss";
@use "components/loader.scss";
@use "components/sidebar.scss";
@use "components/toolbar.scss";

    // Shared
@use "components/shared/notifications.scss";

    // Pages
@use "pages/contacts.scss";
@use "pages/customers.scss";