@use "core/root.scss";
@use "core/reset.scss";
@use "core/defaults.scss";

  // Layouts
@use "layouts/error.scss";
@use "layouts/default.scss";

  // Components
    // Layout
@use "components/layout/sidebar.scss";
@use "components/layout/actions.scss";

    // Shared
@use "components/shared/notifications.scss";