@use "../resources.scss" as *;

.wrapper {
  display: flex;
  overflow: auto;
  flex-direction: row;

  .content {
    flex: 1;
    height: 100dvh;
    min-width: 0;

    .centered {
      top: 50%;
      left: 50%;
      display: flex;
      position: absolute;
      transform: translate(-50%, -50%);
      align-items: center;
      flex-direction: column;

      h1 {
        align-self: flex-start;
      }

      a {
        align-self: flex-end;

        &:hover {
          color: $accent;
        }
      }
    }
  }
}