@use "../resources.scss" as *;

.wrapper {
  display: flex;
  overflow: auto;
  flex-direction: row;

  .content {
    flex: 1;
    height: 100dvh;
    min-width: 0;

    .centered {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}