@use "../resources.scss" as *;

.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: row;

  .content {
    flex: 1;
    height: 100dvh;
    padding: $pagePadding;
    overflow: auto;
    min-width: 0;
    position: relative;
    scrollbar-gutter: stable both-edges;

    nav {
      width: fit-content;
      padding: 0 8px;
      border-radius: $borderRadius;
      margin-bottom: 4px;

      p {
        color: $secondaryText;
        font-size: $fontSizeSmall;
      }

      @include glassBg;
    }

    @include scrollbar;
  }
}