@use "../resources.scss" as *;

.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: row;

  .content {
    flex: 1;
    height: 100dvh;
    padding: 24px;
    overflow: auto;
    min-width: 0;
    scrollbar-gutter: stable both-edges;

    @include scrollbar;
  }
}