@use "../resources.scss" as *;

.wrapper {
  display: flex;
  overflow: auto;
  flex-direction: row;
  background: $globalBg;
  scrollbar-gutter: stable;

  .content {
    flex: 1;
    min-width: 0;
    height: 100dvh;
  }
}