@use "../resources.scss" as *;

.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: row;

  .content {
    flex: 1;
    height: 100dvh;
    display: flex;
    padding: $pagePadding;
    overflow: auto;
    position: relative;
    flex-direction: column;
    scrollbar-gutter: stable both-edges;

    .breadcrumb {
      width: fit-content;
      color: $secondaryText;
      padding: 0 8px;
      font-size: $fontSizeSmall;
      margin-bottom: 16px;
      border-radius: $borderRadius;

      @include glassBg;
    }

    @include scrollbar;
  }
}