@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: #FF7A59;
        --primary-foreground: #000000;

        --background: #EEEEEE;
        --foreground: #020817;

        --card: #FFFFFF;
        --card-foreground: #020817;

        --popover: #F1F5F9;
        --popover-foreground: #020817;

        --border: #000000;
        --radius: 0.5rem;

        --incoming: #2D88BF;
        --toBeAgreed: #9251CC;
        --inProgress: #C821B2;
        --produced: #48BCA1;
        --done: #23B816;

        --edit: #3B783D;
        --delete: #B11010;
    }

    .dark {
        --primary: #FF7A59;
        --primary-foreground: #FFFFFF;

        --background: #2F2F2F;
        --foreground: #FFFFFF;

        --card: #FF7A59;
        --card-foreground: #f8fafc;

        --popover: #2F2F2F;
        --popover-foreground: #FFFFFF;

        --border: #FFFFFF;
        --radius: 0.5rem;

        --incoming: #2D88BF;
        --toBeAgreed: #9251CC;
        --inProgress: #C821B2;
        --Produced: #48BCA1;
        --Done: #23B816;

        --edit: #3B783D;
        --delete: #B11010;
    }
}

@layer base {
    * {
        @apply border-border text-lg;
        font-family: Poppins, sans-serif;
    }

    body {
        @apply bg-background text-foreground;
    }
}