@use '../resources.scss' as *;

.kanbanPage {
  gap: 32px;
  height: 100%;
  display: flex;
  overflow: auto;
  min-width: 100%;
  max-height: calc(100% - 79px);
  border-radius: $borderRadius;
  flex-direction: row;

  @include glassBg;
  @include scrollbar;
}