@use '../resources.scss' as *;

.loginPage {
  gap: 16px;
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  section {
    flex: 1;
    display: flex;
    padding: 12px 16px;
    border-radius: $borderRadius;
    flex-direction: column;

    header {
      h1 {
        text-align: center;
        white-space: nowrap;
      }
    }

    main {
      form {
        gap: 8px;
        display: flex;
        margin-top: 16px;
        flex-direction: column;
      }
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    &:first-child {
      @include glassBg;
    }

    &:last-child {
      @media screen and (max-width: 640px) {
        display: none;
      }
    }
  }
}