@use "../core/colors.scss" as *;

@mixin accentGlass($color: $accent) {
  color: $color;

  @include glassBg;
}

@mixin glassBg($color: $globalBg, $alpha: 33%, $filter: 10px, $outline: $globalOutline) {
  outline: 1px solid color-mix(in srgb, $outline 10%, transparent);
  background: color-mix(in srgb, $color, transparent $alpha);
  box-shadow: 0 4px 6px color-mix(in srgb, #000000 10%, transparent);
  backdrop-filter: blur($filter);
}