@use "../core/colors.scss" as *;
@use "../core/variables.scss" as *;

@mixin scrollbar($size: 6px, $color: $accent) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $color;
    border-radius: $borderRadius;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-corner {
    display: none;
  }
}