@use "../resources.scss" as *;

button, select {
  cursor: pointer;
  display: inline-flex;
  transition: all $transitionBase;
  align-items: center;
  justify-content: center;

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    color: $accent;
  }
}

select {
  text-align: center;
}