:root {
  --accent: #E65D3B;

  --clr-1: #FFFFFF;
  --clr-2: #000000;
  --clr-3: #FFFFFF;
  --clr-4: #888888;

  &.dark {
    --accent: #FF7A59;

    --clr-1: #2F2F2F;
    --clr-2: #EDEDED;
    --clr-3: #363636;
    --clr-4: #888888;
  }
}